


/*===========================
     09.upcoming css 
===========================*/

.upcoming_area{}


.single_upcoming{
    & .upcoming_image{
        & img{
            border-radius: 10px;
            
            @media #{$xs}{
                width: 100%;
            }
        }
    }
    & .upcoming_content{
        padding-left: 30px;
        
        @media #{$xs}{
            padding-top: 25px;
            padding-left: 0;
        }
        @media #{$sm}{
            padding-top: 0;
            padding-left: 30px;
        }
        
        & .upcoming_meta{
            font-size: 16px;
            font-weight: 300;
            color: $body-color;
        }
        & .upcoming_title{
            & a{
                font-size: 20px;
                color: $heading-color;
                font-weight: 700;
                @include transition(0.3s);
                margin-top: 10px;
                
                &:hover{
                    color: $theme-color;
                }
            }
        }
        & p{
            margin-top: 15px;
        }
        & .more{
            color: $body-color;
            font-size: 16px;
            font-weight: 500;
            margin-top: 15px;
            @include transition(0.3s);

            &:hover{
                color: $theme-color;
            }
        }
    }
}

















