// Font Family
$font-1: 'Philosopher', sans-serif;
$font-2: 'Poppins', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$gray: #f7f7fd;


// Theme Color
$theme-color: #E54E1B;


//Body Color
$body-color: #7A7A7A;


// Border Color
$border-color: #EEEEEE;


// Heading Color
$heading-color: #2A2A2A;


// Soft color
$black-soft: #3D3D3D;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


